@import "./reset.css";

:root {
    --app-dark-bg: #1c1c22;
    --app-font-color: #f2f4f6;
}

html {
    scroll-behavior: smooth;   
}
    
body {
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - -
            WRAPPER / CONTAINER
- - - - - - - - - - - - - - - - - - - - - - - */

.wrapper {
    margin: auto;
    width: 50%;
    transform: translate(0, 70%);
    background-color: #2e2e35;
    padding: 25px 50px;
    box-shadow: 5px 5px 15px #111113;
    position: relative;
    border-radius: 5px;
}

